/* --- --- --- RESET --- --- ---  */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* --- --- --- FÄRGER --- --- ---  */
:root {
    --harvest-orange: #ff7b00ff;
    --dark-orange: #ff8800ff;
    --deep-saffron: #ff9500ff;
    --amber-glow: #ffa200ff;
    --orange: #ffaa00ff;
    --amber-flame: #ffb700ff;
    --school-bus-yellow: #ffc300ff;
    --bright-amber: #ffd000ff;
    --bright-gold: #ffdd00ff;
    --sunbeam-yellow: #ffea00ff;
    --bright-snow: #f8f9faff;
    --platinum: #e9ecefff;
    --alabaster-grey: #dee2e6ff;
    --pale-slate: #ced4daff;
    --pale-slate-2: #adb5bdff;
    --slate-grey: #6c757dff;
    --iron-grey: #495057ff;
    --gunmetal: #343a40ff;
    --carbon-black: #212529ff;
}

/* --- --- --- --- ---- --- --- --- --- --- --- --- ---- --- --- ---  */

/* --- --- --- BODY --- --- ---  */
body {
    background-color: var(--alabaster-grey);
}

/* --- --- --- KONTAINER --- --- ---  */
.kontainer {
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bright-snow);
}

/* --- --- --- HEADER --- --- ---  */
header {
    height: 50px;
    display: flex;
    gap: 300px;
    justify-content: center;
    border-bottom: solid .5px var(--carbon-black);
    padding: 5px;
}

header h1 {
    margin-left: 10px;
}
header img.korg {
    margin-right: 10px;
}

/* -- nav -- */
header nav {
    width: 80%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
header nav a {
    font-size: 15px;
    color: var(--bright-snow);
    padding: 6px;
    background-color: var(--carbon-black);
    text-decoration: none;
    border-radius: 4px;

}

header nav a:hover {
    color: var(--carbon-black);
    background-color: var(--pale-slate-2);

}

header nav a.paSidan {
    background-color: var(--pale-slate);
    color: var(--carbon-black);
}

/* --- --- --- MAIN --- --- ---  */
main {
    display: flex;
    margin-top: 20px;
}

/* -- m -- */
.m {
    width: 50%;
}

.m figure {
    margin: auto;
    text-align: center;
    width: 100%;
}
.m figure figcaption {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;

}
.m figure img {
    width: 75%;
    border-radius: 4px;
}

/* -- b -- */
.m .b {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.m .b button.pris {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
    margin: auto;
    padding: 10px;
    width: 75%;
    margin-top: 5px;
    background-color: var(--harvest-orange);
    border: solid 0px var(--carbon-black);
    border-radius: 4px;
}

.m .b button.pris:hover {
    background-color: var(--orange);
}

.m .b button.pris p {
    color: var(--bright-snow);
    font-weight: bold;
    font-size: large;
    margin: auto;
    width: 500%;
    text-align: left;
}
.m .b button.pris img.korgplus {
    width: 35px;
    margin-left: 20px;
}

.m .b button.kvantitet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-left: 335px;
    width: 30%;
    height: 80%;
    border-radius: 4px;
    background-color: var(--platinum);
    border: solid 0px var(--carbon-black);

}
.m .b button.kvantitet img.minus {
    width: 15px;
    height: 20px;
    margin: auto;
}
.m .b button.kvantitet img.plus {
    width: 20px;
    height: 20px;
    margin: auto;
}
.m .b button.kvantitet p.antal {
    margin: auto;
    font-size: large;
}

/* -- info -- */
.info {
    width: 50%;
    padding: 10px;
}
.info p {
}
